@tailwind base;
@tailwind components;
@tailwind utilities;

.dashboard-title-text {
  background: linear-gradient(90deg, #0010a4 20%, #64b1f7 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html {
  @apply font-rem;
}
